<%- include('../partials/header') %>

<main class="main" id="main">
    <h2 class="home-header">All the hot coffee's</h2>
    <p class="jibberish">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores labore commodi, aperiam ratione odit voluptas laboriosam nemo esse quisquam reprehenderit expedita eligendi facere similique ea ad beatae, veniam excepturi numquam totam pariatur inventore necessitatibus nam reiciendis. Perspiciatis architecto dignissimos totam asperiores vitae nulla quae incidunt commodi, officiis iure reprehenderit doloribus omnis accusamus atque, sint molestias amet illo dolores saepe quis! Dolores quasi explicabo aliquid hic vero in dolorem fuga laborum deleniti praesentium, quas quod, cum ut! Doloribus ipsam consectetur placeat illum consequatur alias dolorem cum recusandae, est quo accusantium dolorum quos ducimus maxime nam, soluta fugiat voluptatem mollitia in! Cum?</p>
</main>

<%- include('../partials/footer') %> 